.section-extend,
#section-14 {
  margin-top: 60px;
}
.section-extend h2,
#section-14 h2 {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  font-family: "Abril Fatface", cursive;
}
.section-extend .content-wrap,
#section-14 .content-wrap {
  margin-top: 40px;
  overflow: hidden;
}
.section-extend .content-wrap img,
#section-14 .content-wrap img {
  width: 100%;
  height: 300px;
}
.section-extend .content-wrap .content-list h3,
#section-14 .content-wrap .content-list h3 {
  font-size: 18px;
  font-weight: 500;
}
.section-extend .content-wrap .content-list h3 span,
#section-14 .content-wrap .content-list h3 span {
  color: #2f89fc;
  float: right;
}
.section-extend .content-wrap .content-list p,
#section-14 .content-wrap .content-list p {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 300;
  color: #666666;
  overflow: hidden;
}
.section-extend .content-wrap .content-list p .glyphicon-star,
#section-14 .content-wrap .content-list p .glyphicon-star {
  color: #F9BE37;
  font-size: 10px;
}
.section-extend .content-wrap .content-list p .glyphicon-star-empty,
#section-14 .content-wrap .content-list p .glyphicon-star-empty {
  color: #F9BE37;
  font-size: 10px;
}
.section-extend .content-wrap .content-list p.p1,
#section-14 .content-wrap .content-list p.p1 {
  line-height: 34px;
}
.section-extend .content-wrap .content-list p .btn,
#section-14 .content-wrap .content-list p .btn {
  float: right;
  width: 40px !important;
  padding: 6px;
}
.navbar {
  border-radius: 0;
  border-width: 0;
  margin-bottom: 0;
  color: white;
  z-index: 10;
}
.navbar .navbar-header button .glyphicon-menu-hamburger {
  font-size: 16px;
  color: gray;
}
.navbar .navbar-header button .glyphicon-menu-hamburger span {
  position: relative;
  top: -1.6px;
  left: 5px;
}
.navbar .navbar-header .navbar-brand {
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 15px;
}
.navbar .navbar-collapse {
  border-width: 0;
}
.navbar .navbar-collapse .navbar-nav {
  font-size: 18px;
}
.navbar .navbar-collapse .navbar-nav li a {
  color: white;
}
.navbar .navbar-collapse .navbar-nav li a:hover {
  color: white;
}
@media only screen and (min-width: 768px) {
  .navbar {
    min-height: 70px;
  }
  .navbar .container {
    margin-top: 10px;
  }
  nav.navbar-light {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    background: transparent;
    border: none;
  }
}
div.hero-wrap {
  height: 626px;
  background: url('../images/bg_1.jpg');
}
div.hero-wrap .title {
  margin-top: 160px;
  color: #ffffff;
}
div.hero-wrap .title h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 0;
}
div.hero-wrap .title p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
@media only screen and (min-width: 768px) {
  #section-1 {
    margin-top: -210px;
  }
  #section-1 #tabs ul {
    width: 360px;
  }
  #section-1 #tabs ul li {
    width: 110px;
    height: 54px;
  }
  #section-1 #tabs ul li a:link {
    color: rgba(255, 255, 255, 0.7);
  }
  #section-1 div.tabs-menu {
    height: 152px;
  }
  #section-1 div.tabs-menu form .form-group {
    margin-top: 30px;
  }
  #section-1 div.tabs-menu form .form-group input[type=submit] {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 768px) {
  #section-1 #tabs ul {
    width: 100%;
  }
  #section-1 #tabs ul li {
    width: 100%;
    text-align: center;
  }
  #section-1 #tabs ul li a:link {
    color: black;
  }
}
#section-11 {
  margin-top: 60px;
  background: #F8FAFF;
  padding: 60px 0;
}
#section-11 h2 {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  font-family: "Abril Fatface", cursive;
}
#section-11 .content-wrap {
  margin-top: 40px;
  overflow: hidden;
}
#section-11 .content-wrap img {
  width: 100%;
  height: 300px;
}
#section-11 .content-wrap .content-list h3 {
  font-size: 18px;
  font-weight: 500;
}
#section-11 .content-wrap .content-list h3 span {
  color: #2f89fc;
  float: right;
}
#section-11 .content-wrap .content-list p {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 300;
  color: #666666;
  overflow: hidden;
}
#section-11 .content-wrap .content-list p .glyphicon-star {
  color: #F9BE37;
  font-size: 10px;
}
#section-11 .content-wrap .content-list p .glyphicon-star-empty {
  color: #F9BE37;
  font-size: 10px;
}
#section-11 .content-wrap .content-list p.p1 {
  line-height: 34px;
}
#section-11 .content-wrap .content-list p .btn {
  float: right;
  width: 40px !important;
  padding: 6px;
}
#section-11 .content-wrap img {
  height: 250px;
}
#section-11 .content-wrap nav.navpage li > a {
  border: 1px solid green;
  color: green;
  overflow: hidden;
  margin: 0 5px;
  border-radius: 50%;
}
#section-11 .content-wrap nav.navpage li.active > a {
  color: white;
  background: #0BC8A0;
}
#section-12 {
  background: #0BC8A0;
  font-family: "Abril Fatface", cursive;
  color: #fff;
  text-align: center;
}
#section-12 .content-wrap {
  padding: 100px 0 200px 0;
  overflow: hidden;
  position: relative;
}
#section-12 .content-wrap h2 {
  font-size: 40px;
}
#section-12 .content-wrap p {
  font-size: 16px;
}
#section-12 .content-wrap form {
  color: gray;
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 300px auto 0;
}
#section-12 .content-wrap form input[type=text] {
  float: left;
  outline: none;
  height: 54px;
  width: 70%;
  border: 1px solid transparent;
}
#section-12 .content-wrap form input[type=submit] {
  float: left;
  height: 54px;
  width: 30%;
  border: 1px solid transparent;
}
#section-14 .content-wrap > p {
  font-family: "Poppins", Arial, sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: #666666;
}
#section-14 .content-wrap #myForm p {
  height: 80px;
}
#section-14 .content-wrap #myForm p input {
  width: 100%;
  height: 60px;
  outline: none;
  border: 1px solid gray;
  font-size: 18px ;
}
#section-14 .content-wrap #myForm p input[type=submit] {
  width: 160px;
  border-radius: 30px;
  background-color: #F9BE37;
}
#section-14 .content-wrap #myForm p label {
  color: red;
  font-size: 16px;
}
#footer {
  background-color: #222831;
  padding: 100px 0 60px;
}
#footer .content-wrap {
  font-size: 16px;
  font-family: "Poppins", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.7);
}
#footer .content-wrap ul,
#footer .content-wrap li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer .content-wrap ul {
  margin: 40px 0;
}
#footer .content-wrap li {
  margin: 20px 0;
}
#footer .content-wrap li .title {
  font-size: 30px;
  margin: 0 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: #2D323B;
  color: white;
}
#footer .content-wrap h2 {
  font-size: 20px;
  font-weight: 400;
}
#footer .content-wrap a {
  color: rgba(255, 255, 255, 0.7);
}
#footer .content-wrap a:hover {
  text-decoration: none;
  color: white;
}
